cli/.env.prod/
**/.env.*.secret
**/.env.secret
_site/
.vscode/
.DS_Store

.turbo
node_modules/

comp/
.branches
.temp
dist

**/.env.prod
**/.env.dev
**/.env.local
supabase/.env
supabase/functions/.env
supabase/migrations/*.sql
supabase/functions/migrations/*/*.sql
supabase/functions/migrations/*/*.txt
*storybook.log
storybook-static

# srtd's local logs should not be committed, as they're per-environment specific
.srtd.buildlog.local.json
