cli/.env.prod/
**/.env.*.secret
**/.env.secret
_site/
.vscode/
.DS_Store

.turbo
node_modules/

comp/
.branches
.temp
dist

**/.env.prod
**/.env.dev
**/.env.local
supabase/.env
supabase/functions/.env
supabase/migrations/*.sql
supabase/functions/migrations/yunocontent/*.sql
supabase/functions/migrations/yunocontent/*.txt