.tiptap-editor .ProseMirror {
  outline: none;
}

.tiptap-editor .ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.schema-field-node {
  margin: 1rem 0;
}

.tiptap-editor .ProseMirror:focus {
  outline: none;
}

.tiptap-editor .ProseMirror-focused {
  outline: none;
} 